@import 'styles.scss';

// Navbar

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: $cta-gold;
  font-weight: 600;
  font-size: 0.9rem;
  z-index: 1;
  transition: all 1000ms ease-in-out;

  .nav-link {
    margin: 0 0.5rem;

    &:after {
      content: '';
      position: absolute;
      bottom: -1.5rem;
      left: calc(50% - 2.5px);
      width: 5px;
      height: 5px;
      background: $cta-gold;
      transform: rotate(45deg);
      opacity: 0;
      transition: all 200ms ease-in-out;
    }

    &:hover:after {
      opacity: 1;
      bottom: -1rem;
    }
  }
}

// Server status

.server-status {
  display: flex;
  align-items: center;

  abbr {
    text-decoration: none;
  }

  p {
    user-select: none;
    margin-left: 0.5rem;
  }
}

.server-status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 30%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.server-status-dot-live {
  background: green;

  &:before {
    background: rgb(74, 201, 74);
  }
}

.server-status-dot-offline {
  background: rgb(236, 81, 81);

  &:before {
    background: rgb(171, 12, 12);
  }
}

// Banner

#banner {
  height: 100vh;
  background: url('images/l2_06.jpg') no-repeat center / cover;
  @include box-shadow(-1200px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: $cta-gold;
  transition: box-shadow $banner-shadow-duration $banner-shadow-delay ease-in-out;
}

.header-container {
  margin-top: 6rem;
  text-align: center;

  .title-heading {
    font-size: clamp(2.5rem, 8vw, 6rem);
    margin-bottom: 2rem;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Merienda', cursive;
    font-weight: 400;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $cta-gold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.518);
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.435);
    opacity: 0;
    transform: translateY(80px);
    transition: opacity $banner-heading-fade-duration ease-in-out,
      transform $banner-heading-transform-duration $banner-heading-transform-duration ease-in-out,
      text-shadow $banner-heading-shadow-duration $banner-heading-shadow-delay ease-in-out;

    @media only screen and (max-width: 494px) {
      font-size: 8vw;
    }
  }

  // .opening {
  //   opacity: 0;
  //   transition: all 1.5s ease-in-out;
  //   color: $cta-gold;
  //   font-family: 'Merienda', cursive;

  //   h3 {
  //     font-weight: 400;
  //     font-size: 2rem;
  //   }

  //   h2 {
  //     font-size: 4rem;
  //   }
  // }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.header-buttons {
  @extend %center-items;

  @media only screen and (max-width: 615px) {
    flex-direction: column;
  }
}

.primary-button {
  text-decoration: none;
  display: block;
  text-align: center;
  background: #111;
  color: $cta-gold;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid $cta-gold;
  overflow: hidden;
  z-index: 19;
  opacity: 0;
  transition: background 300ms ease-in-out,
    opacity $banner-buttons-fade-duration $banner-buttons-fade-delay ease-in-out;

  @media only screen and (max-width: 615px) {
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }

  &:hover {
    background: $cta-gold;
    color: #333;
  }

  &:hover~p {
    animation: help-text 1s 1.5s ease forwards;
  }

  &:hover+.button-accent {
    opacity: 1;
    transform: rotate(45deg);
  }
}

.button-accent {
  margin: 1rem auto 2rem auto;
  width: 10px;
  height: 10px;
  background: $cta-gold;
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms 100ms ease;

  @media only screen and (max-width: 615px) {
    display: none;
  }
}

.button-container {
  padding: 0 1rem;

  p {
    position: absolute;
    color: rgb(215, 215, 215);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    opacity: 0;

    @media only screen and (max-width: 615px) {
      display: none;
    }
  }
}

.scroll-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 4px solid $cta-gold;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translateX(-50%);
  background: transparent;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  animation: scroll-button 1.5s ease-in-out infinite;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    background: $cta-gold;
    width: 5px;
    height: 5px;
  }
}

// Vote section

#vote-banner {
  @extend %center-items;
  font-family: 'Merienda', cursive;
  background: url('images/l2_07.jpg') no-repeat center / cover;
  box-shadow: inset 0 300px 300px black, inset 0 -300px 300px black;

  .container {
    display: block;
    text-align: center;
    margin: 15rem 2rem;
    font-size: 2rem;

    h1 {
      margin-bottom: 6rem;
      color: $cta-gold;
      font-size: 6rem;
      user-select: none;

      @media only screen and (max-width: 670px) {
        font-size: 3rem;
      }
    }
  }

  .vote-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 670px) {
      grid-template-columns: 1fr;
    }
  }

  .vote-card {
    text-decoration: none;
    color: #fff;
    @extend %center-items;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.155);
    width: 300px;
    height: 180px;
    overflow: hidden;
    filter: grayscale(0.7);
    z-index: 10;
    border: 5px solid $cta-gold;
    transition: all 200ms ease-out;

    @media only screen and (max-width: 670px) {
      margin: 0 auto;
    }

    &:hover {
      filter: grayscale(0);

      img {
        transform: scale(1.03);
      }

      .card-text {
        opacity: 1;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 300ms ease-in-out;
    }
  }

  .card-text {
    opacity: 0.7;
    transition: all 300ms ease-in-out;
    z-index: 999;

    p {
      font-size: 1rem;
      text-align: left;
    }

    h1 {
      font-size: 2rem;
      line-height: 1;
      margin: 0;
    }
  }
}

#overview,
#server,
#server-details {
  background-color: #111;
  color: rgb(215, 215, 215);
}

#overview {
  box-shadow: inset 0 200px 300px black;
}

#overview,
#server,
#server-details,
#discord {
  padding: 10rem 2rem;
}

#overview,
#server,
#discord {
  @extend %center-items;
}

#overview>.container>.text {
  margin-right: 8rem;

  @media only screen and (max-width: 960px) {
    margin-right: 0;
  }
}

#server>.container>.text {
  margin-left: 8rem;

  @media only screen and (max-width: 960px) {
    margin-left: 0;
  }
}

#discord>.container>.text {
  color: white;
  margin-right: 8rem;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;

  .side-image {
    width: calc(25vw + 50px);
    height: 100%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    z-index: 990;

    @media only screen and (max-width: 960px) {
      display: none;
    }
  }
}

.text {
  max-width: 480px;

  p {
    margin-bottom: 0.8rem;
    line-height: 1.8;
  }
}

.text-heading {
  font-family: 'Merienda', cursive;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.257);
}

// Server details section

#server-details {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  >div {
    margin: 0 4rem;
  }

  table {
    width: 300px;

    @media only screen and (max-width: 1200px) {
      width: 500px;
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 600px) {
      width: 80vw;
    }

    td:last-child {
      text-align: right;
      font-weight: 600;
      padding: 0.4rem 0;
    }
  }

  .small-section {
    width: 300px;

    @media only screen and (max-width: 1200px) {
      width: 500px;
    }

    @media only screen and (max-width: 600px) {
      width: 80vw;
    }

    p:last-child {
      margin-bottom: 2rem;
    }
  }
}

#discord {
  background: $discord-purple url('images/discord.png') no-repeat center / cover;
  background-blend-mode: difference;

  @media only screen and (max-width: 740px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        width: 350px;
        margin: 0 auto 2rem auto;
      }
    }
  }
}

// Decorative sections

.deco {
  height: 10vh;
  background: #111 url('images/l2_06.jpg') no-repeat 50% 100% / cover;
  box-shadow: inset 0 -50px 20px rgba(0, 0, 0, 0.73);
}

// Page footer

body>footer {
  padding-top: 4rem;
  background: #111;
  color: rgb(190, 190, 190);
  line-height: 2;
  font-size: 0.9rem;
  border-top: 2px solid rgb(215, 215, 215);

  .footer-container {
    // width: 80%;
    margin: 0 auto 4rem auto;
    display: flex;
    justify-content: center;

    .footer-block {
      width: 20%;
      padding: 0 4rem;

      h4 {
        margin-bottom: 2rem;
      }
    }
  }

  .footer-navbar {
    a {
      display: block;
      transition: all 200ms ease;

      &:hover {
        color: #fff;
      }
    }
  }

  .social-icons {
    >a {
      &:first-child {
        margin-right: 0.5rem;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(27, 27, 27);
    padding: 1rem 2rem;

    a {
      color: $cta-gold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}