@import 'styles.scss';

body {
  height: 100vh;
  background: #111 url('../images/l2_04.jpg') no-repeat center / cover;
  color: rgb(210, 210, 210);
}

.top-navbar {
  color: $cta-gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #111;

  >div>a {
    display: inline-block;
    margin: 0 0.3rem;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

.nav-link {
  &:after {
    content: '';
    position: absolute;
    bottom: -0.6rem;
    left: calc(50% - 2.5px);
    width: 5px;
    height: 5px;
    opacity: 0;
    background: $cta-gold;
    transform: rotate(45deg);
    transition: all 200ms ease-in-out;
  }

  &:hover:after {
    opacity: 1;
  }
}


.active-link {
  transform: translateY(3rem) scale(1.5);

  &:after {
    opacity: 1;
  }
}

#features {
  margin-top: 10rem;

  .container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.features-card {
  width: fit-content;
  background: rgb(210, 210, 210);
  color: #111;
  padding: 2rem;
  border-radius: 2px;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1.5rem;
    margin-left: 0.8rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 2px);
      left: -0.8rem;
      width: 4px;
      height: 4px;
      border: 1px solid #111;
      transform: rotate(45deg);
    }
  }
}