@import 'styles.scss';

body>footer {
  padding-top: 4rem;
  background: #111;
  color: rgb(190, 190, 190);
  line-height: 2;
  font-size: 0.9rem;
  border-top: 2px solid rgb(215, 215, 215);

  .footer-container {
    // width: 80%;
    margin: 0 auto 4rem auto;
    display: flex;
    justify-content: center;

    .footer-block {
      // width: 20%;
      padding: 0 4rem;

      h4 {
        margin-bottom: 2rem;
      }
    }
  }

  .footer-navbar {
    a {
      display: block;
      transition: all 200ms ease;

      &:hover {
        color: #fff;
      }
    }
  }

  .social-icons {
    >a {
      &:first-child {
        margin-right: 0.5rem;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(27, 27, 27);
    padding: 1rem 2rem;

    a {
      color: $cta-gold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}